{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1>Edit Room</h1>

  {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

  {{ include('room/_delete_form.html.twig') }}

  <a class="btn btn-primary mt-2" href="{{ path('room_index') }}">Back to list</a>
</div>
{% endblock %}
