{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1>Room index</h1>

  <table class="table">
    <thead>
      <tr>
        {% if app.user and is_granted('ROLE_ADMIN') %}
          <th>Id</th>
        {% else %}
          <div></div>
        {% endif %}
        <th>Name</th>
        <th>Price</th>
        <th>Number</th>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <th>Actions</th>
        {% else %}
        <div></div>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for room in rooms %}
      <tr>
        {% if app.user and is_granted('ROLE_ADMIN') %}
          <td>{{ room.id }}</td>
        {% else %}
          <div></div>
        {% endif %}
        <td>{{ room.name }}</td>
        <td>{{ room.price }} €</td>
        <td>{{ room.number }}</td>
        {% if app.user and is_granted('ROLE_ADMIN') %}
        <td>
          <a class="btn btn-warning" href="{{ path('room_show', {'id': room.id}) }}">Show</a>
          <a class="btn btn-info" href="{{ path('room_edit', {'id': room.id}) }}">Edit</a>
        </td>
        {% else %}
        <div></div>
        {% endif %}

      </tr>
      {% else %}
      <tr>
        <td colspan="5">No room registered</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if app.user and is_granted('ROLE_ADMIN') %}
  <a class="btn btn-primary" href="{{ path('room_new') }}">Create new room</a>
  {% else %}
  <div></div>
  {% endif %}
</div>
{% endblock %}
