{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1>Create new Room</h1>

  {{ include('room/_form.html.twig') }}

  <a class="btn btn-primary" href="{{ path('room_index') }}">Back to list</a>
</div>
{% endblock %}
