{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}
<div class="container">
  <h1>Room</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ room.id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{ room.name }}</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>{{ room.price }} €</td>
      </tr>
      <tr>
        <th>Number</th>
        <td>{{ room.number }}</td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-info" href="{{ path('room_edit', {'id': room.id}) }}">Edit</a>

  <a class="btn btn-primary" href="{{ path('room_index') }}">Back to list</a>

  {{ include('room/_delete_form.html.twig') }}
</div>
{% endblock %}
