{% if app.user and is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
{% else %}
<div class="d-flex flex-column">
  <button class="btn btn-danger mr-auto">Delete</button>
  <small>Vous n'êtes pas admin, vous ne pouvez pas faire ça...</small>
</div>
{%  endif %}
