{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
  {% include 'navbar.html.twig' %}
  <div class="container">
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('user/_delete_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('user_index') }}">Back to list</a>
  </div>
{% endblock %}
