{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container d-flex flex-column align-items-center">
  <h1>User index</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Password</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        <td>{{ user.password|slice(1,25)~'...' }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>
          <a class="btn btn-warning" href="{{ path('user_show', {'id': user.id}) }}">Show</a>
          <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="7">NO user found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
</div>
{% endblock %}
