{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1>Create new User</h1>

  {{ include('user/_form.html.twig') }}

  <a class="btn btn-primary" href="{{ path('user_index') }}">back to list</a>
</div>
{% endblock %}
